## CSE 144 Applied Machine Learning Final Project Ensemble

The objective of this project is to predict labels for a given image dataset. Each team member trained a different model and obtained the label probability. 

In this notebook, we will combine all of them through ensemble methods to generate the final predictions.

In [1]:
import pandas as pd

In [4]:
# Load the probability 
# Please change the path if it's needed
resnet_prob_df = pd.read_csv("../../data/processed/resnet152outputs_original.csv")
swin_b_prob_df = pd.read_csv("../../data/processed/swin_b_output_other.csv")
vit_prob_df = pd.read_csv("../../data/processed/vit_h14_output_original.csv")

resnet_prob = resnet_prob_df.iloc[:, 2:]
swin_b_prob = swin_b_prob_df.iloc[:, 1:]
vit_prob = vit_prob_df.iloc[:, 1:]

# Check the shape of the probability
assert resnet_prob.shape == (1036, 100)
assert swin_b_prob.shape == (1036, 100)
assert vit_prob.shape == (1036, 100)

# Ensemble
emsemble_prob = 1/8 * swin_b_prob + 1/8 * resnet_prob + 6/8 * vit_prob

In [5]:
# Save the predictions
submit = pd.read_csv('../../data/raw/sample_submission.csv')
submit['Label'] = emsemble_prob.idxmax(axis=1)
submit.to_csv("../../data/result/result.csv", index=False)
submit

            ID Label
0        0.jpg    62
1        1.jpg    43
2        2.jpg    38
3        3.jpg    51
4        4.jpg    42
...        ...   ...
1031  1031.jpg    31
1032  1032.jpg     2
1033  1033.jpg    18
1034  1034.jpg    77
1035  1035.jpg    59

[1036 rows x 2 columns]